{
  "JIRA_SYNC_ENABLED": true,
  "JIRA_BASE_URL": "https://esprit-team-r6neq63b.atlassian.net",
  "JIRA_USER_EMAIL": "farah.hassen@esprit.tn",
  "JIRA_API_TOKEN": ATATT3xFfGF0du1hg2KnbKB-Hy6ym2wi2gUZpz0F3lNp3uyw1AAJ0VQ2FpMGsghn52-d9P5KncGf_BHmk2MZhdVqm48PsvVkGeIfisNX6RcQHgnSN4rDTa99XEydE-MPhbsNmZccZYRfKG6pXVVEyDQywIaNgoUghR8idqGmcD2Fb9W8cZEEcME=0213C988,
  "JIRA_PROJECT_KEY": "KAN",
  "JIRA_ISSUE_TYPE": "Task",
  "JIRA_VERIFY_SSL": true,
  "MODEL_MODE": "hybrid",
  "LLM_API_KEY": "sk-4622166793314798a33463e49f2d91d1",
  "LLM_BASE_URL": "https://tokenfactory.esprit.tn/api",
  "LLM_PLANNER_MODEL": "hosted_vllm/Llama-3.1-70B-Instruct",
  "LLM_CRITIC_MODEL": "hosted_vllm/Llama-3.1-70B-Instruct",
  "LLM_VERIFY_SSL": false,
  "TRACK3_RUNNER_PYTHON": "C:\\Users\\asus\\AppData\\Local\\Programs\\Python\\Python312\\python.exe"
}
