MODEL_NAME=qwen2.5:7b
OLLAMA_API_BASE=http://localhost:11434
A2A_BASE_URL=http://127.0.0.1:8001/a2a
MCP_BASE_URL=http://127.0.0.1:8000/mcp
DB_NAME=startup_companies
DB_USER=postgres
DB_PASSWORD=youssef2003
DB_HOST=localhost
DB_PORT=5432
OLLAMA_EMBED_URL=http://localhost:11434/api/embed
EMBED_MODEL=nomic-embed-text-v2-moe
